body{
    background-color: blanchedalmond;
    margin-left: 20%;
    margin-right: 20%;
}
.game{
    border: darkblue 5px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: aqua;
    text-align: center;
}
img{
    width: 80%;
    height: 80%;
}
.game h2{
    color: chocolate;
    font-size: 50px;
}
.game h3{
    color: chocolate;
    font-size: 40px;
}
p{
    color: black;
    font-size: 25px;
}
.game a{
    text-decoration: none;
    color: burlywood;
}
button{
    color: violet;
}