{% extends "base.html" %}
{% block title %}Gameshop{% endblock title %}
{% block content %}
    {% for game in game_list %}
        <div class="game">
        <h2><a href="game_1">{{ game.title }}</a></h2>
            {% if game.image %}
               <a href="game_1"><img src="{{game.image.url}}"></a>
            {% endif %}
        <p>игра добавлена пользователем {{ game.owner }}
        {{ game.created }}</p>
        <p>дата последнего обновления записи: {{ game.updated }}</p>
        <h3>Описание игры: </h3>
        <p>{{ game.discription }}</p>
        </div>
    {% endfor %}
{% endblock content %}