{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock title %}
{% block content %}
    <h1>Подтверждение пароля</h1>
    <div>
    {% if validlink %}
        <p>Придумайте новый пароль и заполните форму ниже</p>
        <div>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Поменять пароль"></p>
        </form>
        </div>
    {% else %}
        <p>Ссылка не действительна, запросите ее повторно</p>
    {% endif %}
    </div>
{% endblock content %}